{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Blogs' %}
{% endblock %}

{% block content %}

  <header class="sb-page-header">
    <div class="container">
      <h1>{{ category.title }}</h1>
      <p>
      </p>
    </div>
  </header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
      <li class="active">{{ category.title }}</li>
    </ol>
  </div>

  <div id="posts">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {% for c in category.get_children %}
          <div class="post text">
            <h2><a href="{% url 'pages:category' c.slug %}">{{ c.title }}</a></h2>
          </div>
        {% endfor %}


          {% for page in pages %}
{#          <div class="row">#}
{##}
{#            <div class="col-md-4" style="padding-top: 20px;">#}
{#              <p>{% trans 'Опубліковано' %}: {{ post.publish_date|date:'d.m.Y' }}</p>#}
{#              <p>{% trans 'Автор' %}: <a href="{% url 'blog:blogger_name' post.author.username %}">{{ post.author.full_name }}</a></p>#}
{#            </div>#}

{#            <div class="col-md-8">#}
              <div class="post text">
                <h2><a href="{% url 'pages:page' page.slug %}">{{ page.title }}</a></h2>
                {{ page.short_body|safe }}
              </div>
{#            </div>#}

{#          </div>#}
          {% endfor %}

        </div>
      </div>
    </div>

  </div>

{% endblock %}