{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <header class="sb-page-header">
    <div class="container">
      <h1>{{ page.category.title }}</h1>
      <p>{{ page.title }}</p>
    </div>
  </header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
      <li><a href="{% url 'pages:category' page.category.slug %}">{{ page.category.title }}</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>

    <div class="post text">
      <h2>{{ page.title }}</h2>
      <p class="date">{{ page.publish_date|date:'d.m.Y' }}</p>
      {{ page.body|safe }}
    </div>
  </div>

{% endblock %}
