
/* Header color */
.sb-page-header {
    background-color: #5376A4;
}

.date {
    color: #5376A4;
}

a {
    color: #5376A4;
}

a:hover {
    color: #314662;
}

.logo {
    width: 200px;
    position: absolute;
    margin-top: -36px;
    margin-left: -36px;
}

.home-header {
    text-transform: uppercase;
    font-size: 32px;
    font-family: Impact;
    color: #89D1E5;
}

img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
