{% load staticfiles %}

<div class="copyright_info">
  <div class="container">
    <div class="one_half"> Copyright © 2014 BrainBasket Foundation. All rights reserved.</div>
  </div>
</div>
<!-- end copyright info -->

<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->

</div>

<!-- ######### JS FILES ######### -->

<!-- navigation -->
<script src="{% static 'js/navigation.js' %}" type="text/javascript"></script>

<!-- scroll up -->
<script src="{% static 'js/totop.js' %}" type="text/javascript"></script>

<!-- tabs -->
<script src="{% static 'js/tabs.js' %}" type="text/javascript"></script>

<!--Fancybox-->
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/fancybox-init.js' %}"></script>


<div id="fb-root"></div>

<!-- socials -->
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>


{# TODO: facebook like box? #}
<script>
//facebook like box
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

{# TODO: custom sharethis #}
//sharethis
stLight.options({ publisher: "964f9f3a-e795-4c19-b5de-bd383ae7d57e", doNotHash: false, doNotCopy: false, hashAddressBar: false });
</script>


<!-- google -->
{# TODO: Google analytics #}
{# <script src="{% static 'js/analytics-init.js' %}"></script> #}

<!-- other scripts -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/slider-init.js' %}"></script>



