{% load i18n %}
{% load staticfiles %}

<footer>
  <div class="container">
    {% comment %}
    <hr>
    <div class="row">
      <div class="col-md-6 footer-left">
        <ul class="list-inline">
          <li>
            <a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a>
          </li>
          <li>
            <a href="{% url 'about' %}" title="{% trans 'Про нас' %}">{% trans 'Про нас' %}</a>
          </li>
          {% for category in categories %}
          <li>
            <a href="{% url 'pages:category' category.slug %}">{{ category.title }}</a>
          </li>
          {% endfor %}
          <li>
            <a href="{% url 'news:news_list' %}">{% trans 'Новини' %}</a>
          </li>
          <li>
            <a href="{% url 'blog:post_list' %}" title="{% trans 'Блоги наших учасників' %}">{% trans 'Блоги' %}</a>
          </li>
        </ul>
        <p>
        </p>
      </div>
      <div class="col-md-6 footer-right">
      </div>
    </div>
    {% endcomment %}
    <hr>
    <div class="row">
      <div class="col-lg-12 footer-below">
        <p>© 2014 - {{ current_year }} {% trans 'Товариство дослідників України' %}</p>
        <p>{% trans 'Усі права захищено' %}</p>
      </div>
    </div>
  </div>
</footer>
