{% load i18n %}
{% load staticfiles %}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/{{ request.LANGUAGE_CODE }}/">TDUkr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Товариство' %}">{% trans 'Товариство' %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'about' %}" title="{% trans 'Про нас' %}">{% trans 'Про нас' %}</a></li>
            <li><a href="{% url 'join_as' %}" title="{% trans 'Анкета' %}">{% trans 'Анкета' %}</a></li>
          </ul>
        </li>

        {% for category in categories %}
          {% if category.get_children %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{ category.title }}">{{ category.title }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for sub_category in category.get_children %}
                <li>
                    <a href="{% url 'pages:category' sub_category.slug %}">{{ sub_category.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{% url 'pages:category' category.slug %}">{{ category.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
{#        <li>#}
{#          <a href="#" title="{% trans 'Media' %}">{% trans 'Медіа' %}</a>#}
{#        </li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Блоги наших учасників' %}">{% trans 'Блоги' %} <b class="caret"></b></a>#}
{#          <ul class="dropdown-menu">#}
{#            {% for blogger in bloggers %}#}
{#            <li>#}
{#                <a href="{% url 'blog:blogger_name' blogger.username %}">{{ blogger.full_name }}</a>#}
{#            </li>#}
{#            {% endfor %}#}
{#          </ul>#}
{#        </li>#}
        <li>
          <a href="{% url 'news:news_list' %}">{% trans 'Новини' %}</a>
        </li>
        {# <li> #}
          {# <a href="{% url 'blog:post_list' %}" title="{% trans 'Блоги наших учасників' %}">{% trans 'Блоги' %}</a> #}
        {# </li> #}
      </ul>

      {# Langueges #}
      <ul class="nav navbar-nav navbar-right">
        <li>
	  <a hreflang="uk" href="/uk/{{ full_path_without_lang }}"><img src="{% static 'images/flags/uk.png' %}" title="Українська" alt="Українська" /></a>
        </li>
	{% comment %}
	<li>
	  <a hreflang="ru" href="/ru/{{ full_path_without_lang }}"><img src="{% static 'images/flags/ru_RU.png' %}" title="Русский" alt="Русский" /></a>
        </li>
	{% endcomment %}

        <li>
          <a hreflang="en" href="/en/{{ full_path_without_lang }}"><img src="{% static 'images/flags/en_US.png' %}" title="English" alt="English" /></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
