{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <header class="sb-page-header">
    <div class="container">
      <h1>{{ post.author.full_name }}</h1>
      <p>{{ post.author.description }}</p>
    </div>
  </header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
      <li><a href="{% url 'blog:post_list' %}">{% trans 'Блоги' %}</a></li>
      <li><a href="{% url 'blog:blogger_name' post.author.username %}">{{ post.author.full_name }}</a></li>
      <li class="active">{{ post.title }}</li>
    </ol>

    <div class="post text">
      <h2>{{ post.title }}</h2>
      <p class="date">{{ post.publish_date|date:'d.m.Y' }}</p>
      {{ post.body|safe }}
    </div>
  </div>

{% endblock %}
