{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Blogs' %}
{% endblock %}

{% block content %}

  <header class="sb-page-header">
    <div class="container">
      <h1>{{ blogger.full_name }}</h1>
      <p>{{ blogger.description }}</p>
    </div>
  </header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
      <li><a href="{% url 'blog:post_list' %}">{% trans 'Блоги' %}</a></li>
      <li class="active">{{ blogger.full_name }}</li>
    </ol>
  </div>

  <div id="posts">

    <div class="container">
      <div class="row">
        <div class="col-md-8">

          {% for post in posts %}
          <div class="row">

            <div class="col-md-4" style="padding-top: 20px;">
              <p>{% trans 'Опубліковано' %}: {{ post.publish_date|date:'d.m.Y' }}</p>
              <p>{% trans 'Автор' %}: <a href="{% url 'blog:blogger_name' post.author.username %}">{{ post.author.full_name }}</a></p>
            </div>

            <div class="col-md-8">
              <div class="post text">
                <h2><a href="{% url 'blog:post_item' post.slug %}">{{ post.title }}</a></h2>
                {{ post.short_body|safe }}
              </div>
            </div>

          </div>
          {% endfor %}

        </div>
        <div class="col-md-4">
          <div class="well">
            <h4>{% trans 'Блогери' %}:</h4>
            <ul class='list-unstyled'>
            {% for blogger in bloggers %}
            <li>
              <img src="{{ blogger.photo.url }}" width="75" height="75" />
              <a href="{% url 'blog:blogger_name' blogger.username %}" class="blogger">{{ blogger.full_name }}</a>
              <br>
              <br>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}