{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Новини' %}
{% endblock %}

{% block content %}

  <header class="sb-page-header">
    <div class="container">
      <h1>{% trans 'Новини' %}</h1>
      <p>
      </p>
    </div>
  </header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
      <li class="active">{% trans 'Новини' %}</li>
    </ol>
  </div>

  <div id="posts">

    <div class="container">
      <div class="row">
        {% for article in articles %}
        <div class="col-md-2">
          <p>{% trans 'Опубліковано' %}: {{ article.publish_date|date:'d.m.Y' }}</p>
        </div>
        <div class="col-md-10">
          <div class="post text">
            <h2><a href="{% url 'news:news_article' article.slug %}">{{ article.title }}</a></h2>
            {{ article.short_body|safe }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock %}