{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Новини' %}
{% endblock %}

{% block body_head %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}

  <header class="sb-page-header">
    <div class="container">
      <h1>{% trans 'Новини' %}</h1>
      <p></p>
    </div>
  </header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
      <li><a href="{% url 'news:news_list' %}">{% trans 'Новини' %}</a></li>
      <li class="active">{{ article.title }}</li>
    </ol>

    <div class="post text">
      <h2>{{ article.title }}</h2>
      <p class="date">{{ article.publish_date|date:'d.m.Y' }}</p>
      {{ article.body|safe }}
    </div>
    <div class="fb-share-button" style="padding-top: 20px;" data-href="https://tdukr.com{{ request.path }}" data-layout="button"></div>
  </div>


{% endblock %}