/*New Main Menu*/
.logo-wrap {
  float: left;
}
.menu-wrapper {
  float: right;
  background: #fff;
}
.menu-header {
  display: none;
}
.menu {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  position: relative;
  line-height: 30px;
}
.menu > li {
  float: left;
}
.menu > li > a {
  padding: 15px 10px;
}
.menu a,
.menu-header a {
  display: block;
  font-family: 'Roboto Condensed';
  font-size: 15px;
  text-transform: uppercase;
  color: #454545;
  cursor: pointer;
}
.menu-header a {
  padding: 15px 10px;
}
.sub-menu {
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 9999px;
  background: #fff;
  white-space: nowrap;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=(0));
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
ul.menu > li:hover .sub-menu {
  right: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=(100));
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .logo-wrap,
  .menu-wrapper,
  .menu {
    float: none;
  }
  .menu-wrapper nav {
    max-height: 310px;
    overflow-y: auto;
    margin-bottom: 10px;
    display: none;
  }
  .menu-header {
    display: block;
    background: #f8f8f8;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 10px;
  }
  .menu li {
    float: none;
    display: block;
    background: #f8f8f8;
    margin-bottom: 1px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
  }
  .menu > li > a,
  .menu a {
    padding: 10px;
  }
  .sub-menu {
    position: static;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;
    padding: 2px 0 2px 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sub-menu li {
    background: #f3f3f3;
  }
  .condensed .logo-wrap {
    display: none;
  }
}
/* Sticky Header */
#trueHeader {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  padding: 14px 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  transition: 0.4s ease all;
}
#trueHeader.sticky {
  position: fixed;
}
#trueHeader.condensed {
  padding: 0;
}