/*
Theme Name: Brain Basket Foundation
Theme URI: http://digitalforce.ua
Description: Brain Basket Foundation - project site theme
Version: 1.0
Author: Digital Force
Author URI: http://digitalforce.ua
*/


/*переключатель языка в хидере*/
#lang-ul{
	margin-bottom:0;
}
.lang-item {
    	display: inline;
	margin-left:5px;
}

h1{
	line-height:50px; /* делаем читаемые заголовки */
}


/*крайние кнопки в правом верхнем меню*/
/*левая*/
#menu-item-155 > a,
#menu-item-157 > a,
#menu-item-398 > a{
	float:left;
	text-transform:uppercase;
	background-color:#ffc233!important;
	color:#fff;
	border:2px solid #e3e3e3;
}



/*правая*/
#menu-item-159 > a,
#menu-item-158 > a,
#menu-item-156 > a{
	float:left;
	text-transform:uppercase;
	background-color:#2f92ee!important;
	color:#fff;
	border:2px solid #e3e3e3;
	margin-left:5px;
}

/*для просмотра белого логотипа партнеров в single-partners.php*/
#single_partners{
	padding:20px;
	background-color:#2f92ee;
	text-align:center
}

/*линк для редактирования блока*/
a.edit_block,
a.post-edit-link{
	display:inline-block;
	color:red !important;
	margin-top:10px;
	border-bottom:1px red dashed;
}

/* подзаголовок с белым подчеркиванием - секция partners */
  h3.blue-white-hr{
  margin:50px 0;
  font-size:30px;
  font-weight:700;
  color:#fff;
  text-align:center;
  background: url(../images/title-border.jpg) left center repeat-x;
}
h3.blue-white-hr > span{
  display:inline-block;
  padding-left:20px;
  padding-right:20px;
  background-color:#2f92ee;
}


/*шаблон страницы executive-management*/
#executive-management{
	/*padding:70px 0;*/
}

#executive-management p{
	margin:25px 0;
}

#executive-management-boxes .box{
	margin-bottom:50px;
        text-align:center;
}
#executive-management-boxes img{
	display:inline-block;
	margin-bottom:20px;
	width:100%;
        max-width:250px;
	height:auto;
	border-bottom:5px solid transparent;
}
#executive-management-boxes .box:hover img{
	border-color:#2f92ee;
}
#executive-management-boxes .box:hover h3{
	color:#2f92ee;
}
#executive-management-boxes img:hover{
	/*border-color:#2f92ee;*/
}
#executive-management-boxes p{
	margin:10px 0;
}
#executive-management-boxes h3,
#executive-management-boxes h6{
	text-align:center;
	text-transform:none;
}
#executive-management-boxes h6{
	color:#999;
}

/* Главная страница - social container & blocks*/
.features_sec16.home-page {
  padding-top: 0;
  padding-bottom: 0;
  background: #d1d1d1 url(../images/bg1.jpg) top center no-repeat;
}
.features_sec7 h2 {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 25px;
}
.homepage-social-action-container {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  color: #fff;
}
.homepage-social-action-container .inner {
  display: table;
  width: 100%;
  height: 273px;
}
.homepage-social-action-container .inner > div {
  display: table-row;
}
.homepage-social-action-container .inner a {
  display: table-cell;
  width: 100%;
  padding-left: 24px;
  vertical-align: middle;
  font-size: 18px;
  color: inherit;
  border: 1px solid #fff;
}
.homepage-social-action-container .inner .text-center a {
  padding-left: 0;
}
.homepage-social-action-container .title {
  display: table-cell;
  width: 100%;
  height: 73px;
  font-size: 22px;
  vertical-align: middle;
}
.homepage-social-action-container i.fa {
  font-size: 24px;
}

/* social column - фиксим ширину колонки и делаем fb_like-box адаптивным */
.social-column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30.650%;
}
@media only screen and (max-width: 767px) {
  .social-column {
    width: 100%;
  }
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

/* Текст на главной странице (осн.контент) */
#home-page-text h1 {
	font-size:35px;
}
#home-page-text p{
	font-size:16px;
}

/* Слайдер на главной странице */
.bxslider{
	height:273px;
	overflow:hidden;
}
.slider-inner {
    position:relative;
    width:100%;
    height:273px;
}
.slider-inner img{
	min-height:273px;
	max-width:765px;
}
    .slider-inner .slider-text {
        position:absolute;
        left:34%; top:0;
	padding-top:20px;
        min-height:253px;
    }
    .slider-inner .title {
	display:inline-block;
        margin:10px 0;
        padding-left:13px;
	padding-right:13px;
        color:#fff;
	font-size:13px;
        background-color:rgba(0, 0, 0, 0.3);
    }
    .slider-inner p {
        margin-bottom:10px;
        padding:10px 10px 10px 13px;
	font-size:18px;
	font-style:italic;
        color:#fff;
        background-color:rgba(0, 0, 0, 0.3);
    }
    .slider-inner:hover p {
        color:#ffc233;
    }
    .slider-inner .readmore_but9 {
        background-color:rgba(0, 0, 0, 0.3);
    }
	.slider-inner .readmore_but9:hover{
		background-color:#2f92ee;
	}

/* helpers */
.text-left{
	text-align:left !important;
}
.text-center {
  text-align: center;
}

p.big {
  font-size: 16px;
}
p.small {
  font-size: 12px;
}
.no-both-pad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.hidden{
  display:none;
}

/*стандартные стили для выравнивания элементов в редакторе wordpress*/

.aligncenter, div.aligncenter {
    margin: auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}



/* Стили для блога */
.post-img,
.video-thumb {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
  border-bottom: 5px solid #d0d0d0;
}
.post-img img,
.video-thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.post-row {
  padding: 25px 0;
  border-bottom: 1px dotted #d0d0d0;
}
.post-row h2,
.post-row h3 {
  margin-bottom: 10px;
}
.post-row h2 a,
.post-row h3 a {
  color: inherit;
}
.post-row p {
  margin: 10px 0;
}
.post-row.first {
  padding-top: 0;
}
.post-row:hover h2,
.post-row:hover h3 {
  color: #2f92ee;
}
.post-row:hover .post-img {
  border-bottom-color: #2f92ee;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.post-row:hover .post-img img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=(80));
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.post-meta {
  margin: 10px 0;
}
.post-img,
.post-img img,
.video-thumb,
.video-thumb img,
.video-thumb .mask,
.post-row h2,
.post-row h3,
.btn-blog,
.post-gallery .one_fifth {
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
hr.alt {
  border-style: none;
  border: none;
  border-bottom: 1px dotted #d0d0d0;
  margin: 20px 0;
}
.right_sidebar a,
.post-tags a,
.recent-posts a,
.post-meta a {
  color: #727272;
}
.right_sidebar a:hover,
.post-tags a:hover,
.recent-posts a:hover,
.post-meta a:hover {
  color: #2f92ee;
}
a.btn-blog {
  color: #2f92ee;
  border: 1px solid #2f92ee;
}
a.btn-blog:hover {
  background-color: #2f92ee;
  color: #fff;
}
.single-post {
  margin-bottom: 30px;
}
.single-post p {
  margin: 20px 0;
}
.single-post ul {
  list-style: disc;
  padding-left: 30px;
}
.single-post li {
  list-style: inherit;
}
.single-post .post-img:hover,
.single-post .one_fifth:hover,
.recent-posts .post-img:hover,
.video-thumb:hover,
.sidebar-news:hover .post-img {
  border-bottom-color: #2f92ee;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.recent-posts .post-img:hover img,
.video-thumb:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=(80));
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.single-post-date {
  padding: 10px 0;
  text-align: center;
  font-style: italic;
}
.post-gallery .one_fifth {
  overflow: hidden;
  border-bottom: 3px solid #d0d0d0;
  margin-bottom: 20px;
}
.post-gallery img {
  width: 100%;
  height: auto;
  display: block;
}
.recent-posts {
  margin: 30px 0;
}
.recent-posts .post-img {
  border-bottom: 3px solid #d0d0d0;
  margin-bottom: 10px;
}
.recent-posts h2,
.recent-posts h3 {
  text-align: center;
}
.right_sidebar {
  margin-bottom: 50px;
}
.video-thumb {
  position: relative;
  margin-bottom: 20px;
}
.video-thumb .mask {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -28px;
  margin-top: -28px;
  color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=(0));
  opacity: 0;
}
.video-thumb:hover .mask {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=(100));
  opacity: 1;
}
.sidebar-news {
  margin-bottom: 20px;
}

/* Пагинация */
.wp-pagenavi {
  padding: 30px 0;
  text-align: center;
}

/* Mail Chimp subscribe form */
#mail_chimp form {
  padding: 10px 0;
}
#mail_chimp input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 34px;
}
#mail_chimp input[type="email"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 4px 0 4px 10px;
  -webkit-transition: 0.3s ease border-color;
  -moz-transition: 0.3s ease border-color;
  -o-transition: 0.3s ease border-color;
  -ms-transition: 0.3s ease border-color;
  transition: 0.3s ease border-color;
}
#mail_chimp input[type="email"]:focus,
#mail_chimp input[type="email"]:hover {
  border-color: #000;
  outline: none;
}
#mail_chimp input[type="submit"] {
  padding: 6px 18px;
  border-color: #ffc233;
  background-color: #ffc233;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  outline: none;
  color: #fff;
  font-weight: 700;
}


/*Coding for hope*/
.page_title_ua {
  height: 139px;
  background: url(../images/elements/pattern_ua.png) repeat left top;
}
.page_title_ua h1 {
  background: none !important;
}
a.btn-on-page-title {
  padding-left: 36px;
  padding-right: 36px;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 18px;
  color: #2f92ee;
  background-color: #fff;
  border: 1px solid #2f92ee;
}
a.btn-on-page-title:hover {
  background-color: #2f92ee;
  border-color: #fff;
  color: #fff;
}
.features_sec22.single-post .box {
  min-height: 450px;
}
.features_sec22.single-post .box a {
  color: #2f92ee;
}
.features_sec22.single-post .box:hover a {
  color: #fff;
}
#take-part a.btn.active {
  background-color: #2f92ee;
  color: #fff;
}
.sky-form header strong {
  font-weight: 700;
}
/* tables 'tight' style */
.table-list.tight tbody th {
  padding: 5px 10px;
}
.table-list.tight td {
  padding: 3px 10px;
  font-size: 0.9em;
  text-align: left;
  vertical-align:middle;
}

/* tabs3 re-styling */
.tabs3 li.active a {
  color: #2f92ee;
  border-top-color: #2f92ee;
}


/* navigation fix */
@media only screen and (min-width: 769px) and (max-width: 999px){
	#trueHeader .container{
	width:100%;
	}
}

/* sky-form fix */
.sky-form .row{
  margin:0;
}

/* Coding for Hope - counter block*/
.framed-box{ /*fix*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cff-counter{
  margin-top:30px;
  padding:15px 20px 40px;
  /*background-color:#ffc233;*/
  background-color:#2f92ee;
  border: 1px solid #e3e3e3;
  color:#fff;
}
#cff-counter p{
  font-size:16px;
}
#cff-counter h3,
#cff-counter h4{
  color:#fff;
}