{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<header class="sb-page-header">
    <div class="container">
      <h1>{% trans 'Про нас' %}</h1>
    </div>
</header>

<!-- Page Content -->
    {# Breadcrumbs #}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
		<li class="active">{% trans 'Про нас' %}</li>
	</ol>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
          {{ about.content|safe }}
{#            <h2><i class="fa fa-support"></i> Help Requests</h2>#}
{#            <p>If you need help with one of our templates, or if you are experiencing a bug, please visit <a href="/help">our help page</a>. If you still can't find an answer, please email us at:</p>#}
{#            <p><strong><a href="mailto:help@startbootstrap.com">help@startbootstrap.com</a></strong></p>#}
{#            <h2><i class="fa fa-code"></i> Hire Us!</h2>#}
{#            <p>Do you want a custom Bootstrap theme? Do you like one of our templates, but want some additional features added? If so, you can hire the Start Bootstrap team to get your custom project done! We build HTML/CSS Bootstrap themes on a per project basis. We can work from design concepts, examples of other designs you like, or from PSD's! If you're interested in our custom design services, <a href="/bootstrap-design-services/">click here for more information</a>, or email us at:</p>#}
{#            <p><strong><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a></strong></p>#}

        </div>
    </div>

</div>

  {% comment %}
  <!-- Footer -->
  <div class="cta-mail">
    <div class="container text-center">
        <h2>Want more Bootstrap themes &amp; templates?</h2>
        <h4>Subscribe to our mailing list to receive an update when new items arrive!</h4>
        <div id="mc_embed_signup">
            <form role="form" action="http://startbootstrap.us3.list-manage1.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group input-group-lg">
                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                    <span class="input-group-btn">
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe!</button>
                    </span>
                </div>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
        </div>
        <!-- End MailChimp Signup Form -->
    </div>
  </div>
  {% endcomment %}

{% endblock %}