{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO -> -->
    <meta name="description" content="TDUkr">
    <meta name="author" content="sonych">

    <title>{% trans 'Society researcher of Ukraine' %} | {% block title %}{% endblock %}</title>

    <!-- Fav Icon and Apple Touch Icons -->
    <link rel="icon" href="{% static 'assets/img/ico/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets/img/ico/touch-icon-iphone.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/ico/touch-icon-ipad.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/ico/touch-icon-iphone-retina.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/ico/touch-icon-ipad-retina.png' %}">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Start Bootstrap Custom CSS -->
    <link href="{% static 'assets/css/startbootstrap.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'assets/css/tdukr.css' %}" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Webmaster Tools Site Verification -->
    <!-- TODO: change -->
    <!-- <meta name="google-site-verification" content="hq9-_keIZdTZt7arZ91T-gSqn8ANii362mlcn0zCgno"> -->

  {% for lang_code, lang_name in LANGUAGES %}
    <link rel="alternate" href="http://{{ HOSTNAME }}/{{ lang_code }}/" hreflang="{{ lang_code }}" />
  {% endfor %}
 
  {% include 'includes/ga.html' %}
  {% include 'includes/ym.html' %}

</head>

<body>

{% block body_head %}{% endblock %}

{% include 'includes/menu.html' %}

{% block content %}

{% endblock %}

{% include 'includes/footer.html' %}

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/docs.js' %}"></script>
<script src="{% static 'assets/js/startbootstrap.js' %}"></script>

{% block extra_js %}
{% endblock %}

</body>
</html>
