{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block head_extra_js %}



{% endblock %}

{% block content %}

  <header class="sb-page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          {% if request.LANGUAGE_CODE == 'uk' %}
            <img src="{% static 'assets/img/logo/logo_uk.png' %}" class="logo">
          {% elif request.LANGUAGE_CODE == 'en' %}
            <img src="{% static 'assets/img/logo/logo_en.png' %}" class="logo">
{#          {% elif request.LANGUAGE_CODE == 'ru' %}#}
{#            <img src="{% static 'assets/img/logo/logo_ru.png' %}" class="logo">#}
          {% endif %}
        </div>
        <div class="col-md-8 home-header">
          <p>{% trans 'Товариство' %}</p>
          <p>{% trans 'Дослідників' %}</p>
          <p>{% trans 'України' %}</p>
        </div>
        <div class="col-md-2" style="margin-top: 95px; text-align: right;">
          <a href="https://www.facebook.com/tdukr" target="_blank"><img src="{% static 'tdukr/soc_icons/fb.png' %}" style="margin-right: 10px;"></a>
          <a href="https://www.instagram.com/ukrainian_researchers_society/" target="_blank"><img src="{% static 'tdukr/soc_icons/instagram.png' %}" style="margin-right: 10px;"></a>
          <a href="mailto:ngo.tdu@gmail.com" target="_blank"><img src="{% static 'tdukr/soc_icons/email.png' %}"></a>
          
        </div>
      </div>
    </div>
  </header>
  
  {% include 'includes/slider.html' %}

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'News' %}</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              {% for article in articles %}
              <li class="list-group-item" style="border: 0;">
                <span class="badge">{{ article.publish_date|date:'d.m.Y' }}</span>
                <a href="{% url 'news:news_article' article.slug %}">{{ article.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <h3 style="font-family: Impact; color: #0A5CC0; text-align: center; padding-top: 20px;">ТОВАРИСТВО ДОСЛІДНИКІВ УКРАЇНИ</h3>
        <p style="text-align: center;">об’єднання молодих вчених, яке здійснює заходи по сприянню організації розвитку, підвищенню ефективності досліджень культурного, історичного, соціально-економічного розвитку регіонів України, оптимізації взаємодії суспільства і природи.</p>

        {% comment %}
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs" role="tablist">
            {% for blogger in bloggers %}
            <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
              <a href="#{{ blogger.username }}" id="{{ blogger.username }}-tab" role="tab" data-toggle="tab" aria-controls="{{ blogger.username }}" aria-expanded="true">{{ blogger.full_name }}</a>
            </li>
            {% endfor %}
          </ul>
          <div id="myTabContent" class="tab-content">
            {% for blogger in bloggers %}
            <div role="tabpanel" class="tab-pane fade{% if forloop.first %} active in{% endif %}" id="{{ blogger.username }}" aria-labelledby="{{ blogger.username }}-tab">
              {% for post in blogger.post_set.published %}
                <div class="post text">
                  <h5><a href="{% url 'blog:post_item' post.slug %}">{{ post.title }}</a></h5>
                  {{ post.short_body|safe }}
                </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endcomment %}
      </div>
      <div class="col-md-4">
        <a href="/uk/pages/category/decentralizaciya/"><img src="{% static 'tdukr/d.jpg' %}" style="padding-bottom: 15px;"></a>
        <a href="/uk/pages/category/pamyat-miscya-pamyat-narodu/"><img src="{% static 'tdukr/pp.jpg' %}" style="padding-bottom: 15px;"></a>
        <a href="/uk/pages/page/pro-proekt-de-pochinayetsya-ukrayina/"><img src="{% static 'tdukr/dpg.jpg' %}" style="padding-bottom: 15px;"></a>
        <a href="/uk/pages/category/tripar/"><img src="{% static 'tdukr/sc.png' %}" style="padding-bottom: 15px;"></a>
      </div>
    </div>

  {% comment %}
    <!-- Partners -->
    <div class="row">


      <!-- Jssor Slider Begin -->
    <!-- To move inline styles to css file/block, please specify a class name for each element. -->
    <div id="slider1_container_2" style="position: relative; top: 0px; left: 0px; width: 980px; height: 100px; overflow: hidden; ">

        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>

        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 980px; height: 100px; overflow: hidden;">
          {% for partner in partners %}
            <div><img u="image" width="300" height="300" alt="{{ partner.title }}" src="{{ partner.image.url }}" /></div>
          {% endfor %}
{#            <div><img u="image" alt="amazon" src="{% static 'imggg/logo/amazon.jpg' %}" /></div>#}
{#            <div><img u="image" alt="android" src="{% static 'imggg/logo/android.jpg' %}" /></div>#}
{#            <div><img u="image" alt="bitly" src="{% static 'imggg/logo/bitly.jpg' %}" /></div>#}
{#            <div><img u="image" alt="blogger" src="{% static 'imggg/logo/blogger.jpg' %}" /></div>#}
{#            <div><img u="image" alt="dnn" src="{% static 'imggg/logo/dnn.jpg' %}" /></div>#}
{#            <div><img u="image" alt="drupal" src="{% static 'imggg/logo/drupal.jpg' %}" /></div>#}
{#            <div><img u="image" alt="ebay" src="{% static 'imggg/logo/ebay.jpg' %}" /></div>#}
{#            <div><img u="image" alt="facebook" src="imggg/logo/facebook.jpg" /></div>#}
{#            <div><img u="image" alt="google" src="{% static 'imggg/logo/google.jpg' %}" /></div>#}
{#            <div><img u="image" alt="ibm" src="{% static 'imggg/logo/ibm.jpg' %}" /></div>#}
{#            <div><img u="image" alt="ios" src="{% static 'imggg/logo/ios.jpg' %}" /></div>#}
{#            <div><img u="image" alt="joomla" src="{% static 'imggg/logo/joomla.jpg' %}" /></div>#}
{#            <div><img u="image" alt="linkedin" src="{% static 'imggg/logo/linkedin.jpg' %}" /></div>#}
{#            <div><img u="image" alt="mac" src="{% static 'imggg/logo/mac.jpg' %}" /></div>#}
{#            <div><img u="image" alt="magento" src="{% static 'imggg/logo/magento.jpg' %}" /></div>#}
{#            <div><img u="image" alt="pinterest" src="{% static 'imggg/logo/pinterest.jpg' %}" /></div>#}
{#            <div><img u="image" alt="samsung" src="{% static 'imggg/logo/samsung.jpg' %}" /></div>#}
{#            <div><img u="image" alt="twitter" src="{% static 'imggg/logo/twitter.jpg' %}" /></div>#}
{#            <div><img u="image" alt="windows" src="{% static 'imggg/logo/windows.jpg' %}" /></div>#}
{#            <div><img u="image" alt="wordpress" src="{% static 'imggg/logo/wordpress.jpg' %}" /></div>#}
{#            <div><img u="image" alt="youtube" src="{% static 'imggg/logo/youtube.jpg' %}" /></div>#}
        </div>
        <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>
    </div>
    <!-- Jssor Slider End -->

    </div>
{% endcomment %}


    <div class="row" style="padding-top: 50px;">
	    {# <div class="col-lg-12"> #}	     
	      {#      <h3 style="text-align: center;">{% trans 'Партнери' %}</h3> #}
	    {# </div> #}
    </div>
    <div class="row">
      <hr>
{% comment %}
      <div class="col-lg-4" style="text-align: center">
        <a href="http://www.nationalgeographic.com/" target="_blank">
        <img src="{% static 'tdukr/sponsors/ng.png' %}">
        </a>
      </div>
      <div class="col-lg-4" style="text-align: center">
        <a href="http://www.geograf.com.ua/" target="_blank">
        <img src="{% static 'tdukr/sponsors/geograf.png' %}">
        </a>
      </div>
      <div class="col-lg-4" style="text-align: center">
        <a href="http://www.memory.gov.ua/" target="_blank">
        <img src="{% static 'tdukr/sponsors/uinp.png' %}">
        </a>
      </div>
    </div>
{% endcomment %}
  </div>

  {% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/jssor.slider.mini.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
              $AutoPlay: true,
              $AutoPlayInterval: 1900
            };

            $("#slider1_container").css("display", "block");
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        });
    </script>

{% comment %}
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 0,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 4,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseLinear,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 1600,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                $SlideWidth: 300,                                   //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                $SlideHeight: 200,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 20, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 7,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                              //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
            };

            var jssor_slider1_2 = new $JssorSlider$("slider1_container_2", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                  jssor_slider1_2.$ScaleWidth(Math.min(bodyWidth, 1140));
                  jssor_slider1_2.$ScaleHeight(200);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
{% endcomment %}

  {% endblock %}

{% endblock %}
