{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<header class="sb-page-header">
    <div class="container">
        <h1>{% trans 'Анкета учасника' %}</h1>
        <p>
          {% blocktrans %}
          Заповни анкету щоб стати учасником товариства
          {% endblocktrans %}
        </p>
    </div>
</header>

<!-- Page Content -->
    {# Breadcrumbs #}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Головна' %}</a></li>
		<li><a href="{% url 'about' %}">{% trans 'Про нас' %}</a></li>
    <li class="active">{% trans 'Анкета учасника' %}</li>
	</ol>
</div>

<div class="container">

   {% if form %}

   <form class="form-horizontal" role="form" method="POST">
     {% for field in form %}
      <div class="form-group">
          <label for="firstname" class="col-sm-2 control-label">{{ field.label }} {% if field.help_text %}({{ field.help_text }}){% endif %}</label>
          <div class="col-sm-10">
            {{ field }}
            <span style="color: red;">{{ field.errors }}</span>
          </div>
       </div>
     {% endfor %}



     <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-default">{% trans 'Подати заявку' %}</button>
          </div>
       </div>
   </form>

  {% else %}

     <h3>{% trans 'Дякую за заявку!' %}</h3>

  {% endif %}

</div>

{% endblock %}